@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Nanum+Gothic+Coding:wght@400;700&family=Raleway:wght@400&display=swap@subset=korean,latin');

$font-family-raleway: 'Raleway', 'Nanum Gothic';
$font-family-nanum-gothic: 'Nanum Gothic', sans-serif;
$font-family-nanum-gothic-coding: 'Nanum Gothic Coding', monospace;

body, code, h1, h2, h3 {
  font-display: swap;
}

body {
  font-family: $font-family-raleway;
}

code {
  font-family: $font-family-nanum-gothic-coding;
}
