@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Nanum+Gothic+Coding:wght@400;700&family=Raleway:wght@400&display=swap@subset=korean,latin');

$font-family-raleway: 'Raleway', 'Nanum Gothic';
$font-family-nanum-gothic: 'Nanum Gothic', sans-serif;
$font-family-nanum-gothic-coding: 'Nanum Gothic Coding', monospace;

@mixin apply-font($font-family) {
  font-family: $font-family;
}

body {
  @include apply-font($font-family-raleway);
}

.nanum-gothic {
  @include apply-font($font-family-nanum-gothic);
}

.nanum-gothic-coding {
  @include apply-font($font-family-nanum-gothic-coding);
}
